<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('/datasets/insurance.csv')

In [3]:
display(data.head(5))

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [4]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [5]:
display(data.describe())

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [6]:
display(data.isna().sum())

Пол                  0
Возраст              0
Зарплата             0
Члены семьи          0
Страховые выплаты    0
dtype: int64

In [7]:
display(data.duplicated().sum())

153

In [8]:
data['Возраст'] = data['Возраст'].astype('int')
data['Зарплата'] = data['Зарплата'].astype('int')

**Предварительный вывод**

1.Данные уже в обработанном состоянии, дубли решил не удалять, так как здесь этого не требуется.

2.Значительных выбросов и аномальных значений не выявлено.

3.Заменил только типы данных в столбцах на более подходящие.

## Умножение матриц



Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

Решение:

Представим новую матрицу признаков С как произведение старой X на матрицу P(обратимую)

$$
С = Х * Р
$$

Подставим новое значение С в формулу w1:

$$
w1=((XP)^TXP)^{−1}(XP)^Ty
$$

Раскроем первое произведение данной формулы

$$
w1=(P^TX^TXP)^{-1}P^TX^Ty
$$


Перегруппируем множители в скобках

$$
w1=(P^T(X^TX)P)^{-1}P^TX^Ty
$$

Расскроем скобки формулы выше

$$
w1=P^{-1}(X^TX)^{-1}(P^T)^{-1}P^TX^Ty
$$

Так как P по условию обратимая матрица, то

$$
(P^T)^{−1}P^T = Е
$$
$$
w1=P^{-1}(X^TX)^{-1}EX^Ty=P^{-1}(X^TX)^{-1}X^Ty
$$

Видим, что в призведении справа вышла w
$$
w1=P^{-1}(X^TX)^{-1}X^Ty=P^{-1}w
$$


Подставим новое значение w1 в формулу для предсказаний линейной регрессии. 
Подставим в эту формулу значения С и w1 для того, чтобы на их основе вычислить предсказания модели а1

$$
a1=С w1=XPP^{-1}w
$$

Так как по условию Р обратимая матрица, 
то произведение снова равно Е
$$
PP^{−1} = Е
$$
$$
a1=XPP^{-1}w=XEw=Xw=a
$$

**Вопрос:** Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? 

**Ответ:** Не изменится.

**Обоснование:** Мы видим, что значение предсказания а не меняется, если умножать матрицу признаков на обратимую матрицу

## Алгоритм преобразования

**Алгоритм**

В качестве алгоритма преобразования примем домножение обучающих признаков X на случайную обратимую матрицу С размером 4х4. Создадим модель линейной регрессии до преобразования и посчитаем метрику R2. Далее умножим исходные признаки на обратимую матрицу и на основе полученных значений вновь посчитаем метрику R2. Метрики R2 по итогу должны быть равны.

**Обоснование**

Как было показано в предыдущем пункте, домножение признаков на какую-либо обратимую матрицу не приводит к изменению предсказаний, поэтому результаты R2 должны оказаться равны

## Проверка алгоритма

In [9]:
# создаем признаки
features = data.drop('Страховые выплаты', axis=1)
target = data['Страховые выплаты']

In [10]:
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.25, random_state=12345)

In [11]:
# проводим моделирование
model = LinearRegression()
model.fit(features_train, target_train)
predictions = model.predict(features_test)
r2 = r2_score(target_test, predictions)
r2

0.4352275684083322

Теперь необходимо создать обратимую матрицу размером 4 на 4.

Для существования обратной матрицы необходимо и достаточно, чтобы матрица была невырожденной, то есть, чтобы ее определитель не был равен нулю.

In [12]:
a = 0
b = 0
while a == 0:
    b = np.random.normal(size=(4, 4))
    a = np.linalg.det(b)
b

array([[ 0.66464953,  0.53335959, -0.86407901, -1.00080296],
       [ 0.92682684, -1.56104404, -0.83691883,  0.60368973],
       [-0.19020697, -0.64611365, -1.62507745,  0.0836816 ],
       [ 1.34394496, -0.68189686, -0.05876094,  0.83890357]])

Матрица обратима, умножим признаки

In [4]:
# def generate_random_matrix(dim): 
  #  while True: 
    #    matrix = np.random.normal(size=(dim, dim)) 
     #   det = np.linalg.det(matrix) 
     #   if det != 0: 
          #  break 
   # return matrix

In [13]:
с = features_train.dot(b)
с.columns = features_train.columns
с.head()

               Пол       Возраст      Зарплата  Члены семьи
3369  -6843.630189 -23456.587563 -58864.714134  3055.070537
1441 -10923.744747 -37268.688381 -93633.780589  4839.584581
571   -7786.504089 -26605.906324 -66817.523465  3459.470573
225   -8543.624665 -29196.605100 -73321.180951  3796.611716
2558  -9591.199539 -32746.228940 -82256.654945  4255.888329

In [14]:
test_с = features_test.dot(b)
test_с.columns = features_test.columns
test_с.head()

              Пол       Возраст      Зарплата  Члены семьи
3183 -7382.110789 -25252.674393 -63405.874016  3286.859622
1071 -8148.891203 -27926.914313 -70082.801670  3638.539084
2640 -7970.902568 -27261.732026 -68449.264668  3545.538291
2282 -6600.666041 -22515.975903 -56569.433727  2924.193338
1595 -7564.903145 -25911.276396 -65037.646820  3375.370736

In [15]:
X = np.concatenate((np.ones((с.shape[0], 1)), с), axis=1)

In [16]:
y = target_train
w = (np.linalg.inv(X.T.dot(X)).dot(X.T)).dot(y)

In [17]:
a = test_с.dot(w[1:]) + w[0]

In [18]:
r2_1=r2_score(target_test, a)
r2_1

0.4352275655767409

In [19]:
print(r2)
print()
print(r2_1)

0.4352275684083322

0.4352275655767409

**Вывод**

Мы проверили качества моделей Линейной регрессии с помощью метрики R2 на данных - сначала на исходных, затем умноженных на обратимую матрицу, размер которой равен числу признаков. Показатели метрики совпали. Можно сделать вывод, что алгоритм работает.

## Чек-лист проверки

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.


- [x]  Весь код выполняется без ошибок
- [x]  Ячейки с кодом расположены в порядке исполнения
- [x]  Выполнен шаг 1: данные загружены
- [x]   Выполнен шаг 2: получен ответ на вопрос об умножении матриц
    - [x]  Указан правильный вариант ответа
    - [x]  Вариант обоснован
- [x]  Выполнен шаг 3: предложен алгоритм преобразования
    - [x]  Алгоритм описан
    - [x]  Алгоритм обоснован
- [x]  Выполнен шаг 4: алгоритм проверен
    - [x]  Алгоритм реализован
    - [x]  Проведено сравнение качества моделей до и после преобразования